body {
    font-family: "Open Sans", sans-serif;
    background: #f5e3bd;
}

h1 {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: 3em;
    text-align: center;
}

h2, h3 {
    margin-left: 40px;
    font-weight: 600;
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
}

li a {
    text-decoration: none;
    color: #3e3f37;
}

li:hover {
    background: #4497cf;
}

img {
    width: 100%;
}


p {
    color: #3e3f37;
    font-weight: 500;
    line-height: 1.40em;
}

button {
    color: #3e3f37;
}

/* Index */

.post {
    text-decoration: none;
}

.card {
    /* background: #b0cdeb; */
    background: rgba(176, 205, 235, .25);
    padding: 8px 0px;
    border-radius: 12px;
    margin-top: 8px;
}

/* Feature */
.avatar {
    clip-path: circle();
    width: 75px;
    margin-left: 14px;
}

.bioContainer {
    display: flex;
    align-items: center;
}

.bioItems, .bio p {
    font-size: .80em;
}

.bio p {
    margin-left: 40px;
}

/* media query*/
@media (min-width: 492px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
    }
    .avatar {
        width: 175px;
        margin-left: 14px;
    } 
}