body {
    font-family: "Open Sans", sans-serif;
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
}

li a {
    text-decoration: none;
    color: black;
}

li:hover {
    background-color: red;
}

img {
    width: 100%;
}

.post {
    text-decoration: none;
}

/* media query*/
@media (min-width: 492px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}